// Fonts
$font-main: 'Montserrat', sans-serif;
$font-additional: 'Allura', serif;

// Colors
$color-primary: #ff4646;
$color-primary-hover: rgba(255, 70, 70, 0.1);
$color-dark: #181c29;
$color-static: #ffffff;
$color-dirty: #ecf3f8;
$color-timer: rgba(255, 255, 255, 0.4);
$color-tab-hover: rgba(255, 255, 255, 0.2);
$color-tag-work: #4361ff;
$color-tag-harmony: #ff43f7;
$color-tag-health: #06a44f;
$color-tag-green-hover: rgba(6, 164, 79, 0.1);

// Padiding
$padding-main: 60px 82px;

//Transition
$transition: 0.5s ease-out;
