// Fonts
$font-main: 'Montserrat', sans-serif;
$font-additional: 'Allura', serif;

// Colors
$color-primary: #ff4646;
$color-dark: #181c29;
$color-static: #ffffff;
$color-tag-purple: #4361ff;
$color-tag-pink: #ff43f7;
$color-tag-green: #06a44f;
