@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями
 */
img {
  display: block;
  max-width: 100%;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Приводим к единому цвету svg-элементы
 */
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

p {
  font-weight: 400;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #181c29;
  background-color: #ffffff;
  box-sizing: border-box;
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.header {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 82px 14px;
}
@media (width < 769px) {
  .header {
    padding: 12px 8px;
  }
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 141px;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.5s ease-out;
}

.header__navigation {
  display: flex;
  width: 376px;
  justify-content: space-between;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ff4646;
  border-radius: 20px;
  overflow: hidden;
}

.section-hero {
  padding: 60px 0;
  background-image: url(../assets/img/bg-ball.png), url(../assets/img/bg-snow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-hero__text-container {
  width: 100%;
  max-width: 436px;
  margin: 0 auto;
  padding: 60px 3px 61px;
  text-align: center;
}

.section-hero__text-container p:last-child {
  margin-top: 28px;
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-about {
  padding: 60px 82px;
  background: url(../assets/img/bg-snow.png) center center/cover no-repeat;
}
@media (width < 1200px) {
  .section-about {
    padding: 60px 48px;
  }
}
@media (width < 1050px) {
  .section-about {
    padding: 60px 24px;
  }
}
@media (width < 769px) {
  .section-about {
    padding: 60px 8px;
  }
}

.section-about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  background-color: #ffffff;
  border-radius: 20px;
}
@media (width < 700px) {
  .section-about__container {
    flex-direction: column;
  }
}
@media (width < 700px) {
  .section-about__container {
    padding-left: 0;
  }
}

.section-about__container-text {
  width: 100%;
  max-width: 426px;
  padding: 60px 0;
  margin-right: 60px;
}
@media (width < 1050px) {
  .section-about__container-text {
    max-width: 258px;
  }
}
@media (width < 700px) {
  .section-about__container-text {
    max-width: 324px;
    margin-right: 0;
  }
}
.section-about__container-text .caption {
  color: #ff4646;
}
.section-about__container-text h3 {
  margin: 20px 0;
}

.section-about__container-img {
  width: 100%;
  max-width: 638px;
  height: 528px;
  border-radius: 20px;
  background: url(../assets/img/santa.png) center center/cover no-repeat;
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-slider {
  padding: 60px 80px;
  background: url(../assets/img/bg-snow.png) center center/cover no-repeat;
}

.section-slider__container {
  text-align: center;
}
.section-slider__container h3 {
  margin-top: 12px;
  color: #ffffff;
}

.slider__line {
  width: 1993px;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
  position: relative;
  left: 0;
  transition: all ease 1s;
}

.slider-photo {
  min-width: 200px;
  height: 200px;
  border-radius: 20px;
}

.slider-photo__one {
  background: url(../assets/img/slider-1.png) center center/cover no-repeat;
}

.slider-photo__two {
  background: url(../assets/img/slider-2.png) center center/cover no-repeat;
}

.slider-photo__three {
  background: url(../assets/img/slider-3.png) center center/cover no-repeat;
}

.slider-photo__four {
  background: url(../assets/img/slider-4.png) center center/cover no-repeat;
}

.slider__btn-container {
  display: flex;
  justify-content: end;
  margin-right: 2px;
  gap: 20px;
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-bestGifts {
  padding: 60px 82px;
  background: url(../assets/img/bg-snow.png) center center/cover no-repeat;
}

.section-bestGifts__container {
  text-align: center;
}
.section-bestGifts__container h3 {
  color: #ffffff;
  margin: 12px 0 20px;
}

.gifts-card__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px 12px;
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.section-cta {
  padding: 60px 82px;
  background-image: url(../assets/img/bg-forest.png), url(../assets/img/bg-snow.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-cta__container {
  max-width: 430px;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
}
.section-cta__container h3 {
  color: #ffffff;
  margin-bottom: 34px;
}
.section-cta__container .caption {
  margin: 38px 0 6px;
}

.section-gifts {
  padding: 60px 82px;
  background: url(../assets/img/bg-garland.png) top no-repeat;
  background-size: contain;
}

.section-gifts__container h2 {
  max-width: 426px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 82px;
}

.footer-contacts__container {
  display: flex;
  gap: 12px;
  margin-bottom: 60px;
}

.footer-social__container {
  text-align: center;
}
.footer-social__container a {
  text-decoration: none;
  color: #181c29;
  transition: 0.5s ease-out;
}
.footer-social__container a:hover {
  color: #ff4646;
}
.footer-social__container p {
  margin: 12px 0;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.social-media__element {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: 0.5s ease-out;
}
.social-media__element svg path {
  stroke: #181c29;
}
.social-media__element:hover svg path {
  stroke: #ff4646;
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.burger-menu {
  display: none;
  width: 40px;
  height: 40px;
  position: relative;
}
@media (width < 769px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu span {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  border: 1px solid #181c29;
  border-radius: 5px;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-out;
}
.burger-menu span:nth-child(1) {
  top: 40%;
}
.burger-menu span:nth-child(2) {
  top: 60%;
}

/* active burger */
.burger-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

li a {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 12px;
  color: #181c29;
  transition: 0.5s ease-out;
}
li a:hover {
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.1);
}
li a.active {
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.1);
}

.inactive-link {
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.1);
  cursor: default;
}

@media (width < 769px) {
  nav {
    display: none;
  }
}

.btn-explore {
  color: #ffffff;
  background-color: #181c29;
  text-decoration: none;
  padding: 20px 32px;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 20px;
  transition: 0.5s ease-out;
}
.btn-explore:hover {
  color: #181c29;
  background-color: #ffffff;
}

.slider-btn {
  width: 56px;
  padding: 16px 0 14px;
  border-radius: 20px;
  border: 1px solid #ffffff;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.slider-btn svg {
  width: 16px;
}
.slider-btn svg path {
  stroke: #ffffff;
}
.slider-btn:hover {
  background-color: #ffffff;
}

.slider-btn:hover svg path {
  stroke: #ff4646;
}

.inactive-btn {
  cursor: default;
  border-color: rgba(255, 255, 255, 0.4);
}
.inactive-btn:hover {
  background-color: transparent;
}
.inactive-btn:hover svg path {
  stroke: rgba(255, 255, 255, 0.4);
}
.inactive-btn svg path {
  stroke: rgba(255, 255, 255, 0.4);
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.gift-card {
  width: 310px;
  background-color: #ecf3f8;
  border-radius: 20px;
  cursor: pointer;
}
.gift-card:hover .gift-card__text-container h4 {
  color: #ff4646;
}

.gift-card__img {
  width: 310px;
  height: 230px;
}

.gift-work {
  background: url(../assets/img/img-work.png) center center/cover no-repeat;
}

.gift-health {
  background: url(../assets/img/img-health.png) center center/cover no-repeat;
}

.gift-harmony {
  background: url(../assets/img/img-harmony.png) center center/cover no-repeat;
}

.gift-card__text-container {
  height: 112px;
  text-align: start;
  padding: 20px 20px 0;
  border-radius: 20px;
  background-color: #ffffff;
}
.gift-card__text-container h4 {
  margin-top: 10px;
  line-height: 149%;
  transition: 0.5s ease-out;
}

.gift-card__for-work {
  color: #4361ff;
}

.gift-card__for-health {
  color: #06a44f;
}

.gift-card__for-harmony {
  color: #ff43f7;
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.timer {
  width: 344px;
  margin: 0 auto;
  padding: 8px 12px 12px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
}

.timer-items,
.timer-values {
  display: flex;
}

.timer-item,
.timer-value {
  width: 80px;
  font-weight: 600;
  color: #ffffff;
}

.timer-item {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

.timer-value {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.timer-border {
  height: 20px;
  margin-top: 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181c29;
}

h2 {
  font-size: 32px;
  line-height: 150%;
  letter-spacing: 0.18em;
  color: #ffffff;
  margin: 12px 0 27px;
}

h3 {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.16em;
}

h4 {
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08em;
}

h5 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

p {
  font-size: 16px;
  line-height: 148%;
}

.caption {
  font-family: "Allura", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.slider-text {
  font-size: 80px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #ffffff;
}

.contact-card {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: #181c29;
  background-color: #ecf3f8;
  transition: 0.5s ease-out;
}
.contact-card:hover {
  color: #ff4646;
}
.contact-card img {
  width: 80px;
  margin: 0 auto;
}
.contact-card h3 {
  margin: 12px 0;
}

.gifts-tabs {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
}

.tab {
  display: inline-block;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 12px 20px;
  color: #ffffff;
  border-radius: 12px;
  transition: 0.5s ease-out;
  cursor: pointer;
}
.tab:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.tab.active {
  background-color: rgba(255, 255, 255, 0.2);
}