@import '../abstracts/variables';

.btn-explore {
  color: $color-static;
  background-color: $color-dark;
  text-decoration: none;
  padding: 20px 32px;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 20px;
  transition: 0.5s ease-out;
  &:hover {
    color: $color-dark;
    background-color: $color-static;
  }
}
