@import '../abstracts/variables';

.btn-explore {
  color: $color-static;
  background-color: $color-dark;
  text-decoration: none;
  padding: 20px 32px;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-radius: 20px;
  transition: $transition;
  &:hover {
    // для декстопа будет ховер для мобилбного устройства нет
    @media (hover: hover) {
      color: $color-dark;
      background-color: $color-static;
    }
  }
}

.slider-btn {
  width: 56px;
  padding: 16px 0 14px;
  border-radius: 20px;
  border: 1px solid $color-static;
  transition: $transition;
  cursor: pointer;
  svg {
    width: 16px;
    path {
      stroke: $color-static;
    }
  }
  &:hover {
    @media (hover: hover) {
      background-color: $color-static;
    }
  }
}

.slider-btn:hover {
  @media (hover: hover) {
    svg {
      path {
        stroke: $color-primary;
      }
    }
  }
}

.inactive-btn {
  cursor: default;
  border-color: $color-timer;
  &:hover {
    background-color: transparent;
    svg {
      path {
        stroke: $color-timer;
      }
    }
  }
  svg {
    path {
      stroke: $color-timer;
    }
  }
}
