@import '../abstracts/variables';
@import '../base/text';

.contact-card {
  width: 100%;
  padding: 20px;
  text-align: center;
  border-radius: 20px;
  text-decoration: none;
  color: $color-dark;
  background-color: $color-dirty;
  transition: $transition;
  &:hover {
    @media (hover: hover) {
      color: $color-primary;
    }
  }

  img {
    width: 80px;
    margin: 0 auto;
  }

  h3 {
    margin: 12px 0;
  }
}
