@import '../abstracts/variables';

.gifts-tabs {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 20px 0;
  @media (width < 500px) {
    gap: 0;
  }
}

.tab {
  display: inline-block;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 12px 20px;
  color: $color-static;
  border-radius: 12px;
  transition: $transition;
  cursor: pointer;
  @media (width < 500px) {
    padding: 12px 8px;
  }
  &:hover {
    background-color: $color-tab-hover;
  }
  &.active {
    background-color: $color-tab-hover;
  }
}
