@import '../abstracts/variables';
@import '../base/text';

.section-about {
  padding: $padding-main;
  background: url(../assets/img/bg-snow.png) center center / cover no-repeat;
  @media (width < 1200px) {
    padding: $padding-main-responsive-start;
  }
  @media (width < 1050px) {
    padding: $padding-main-responsive-medium;
  }
  @media (width < 769px) {
    padding: $padding-main-responsive-last;
  }
}

.section-about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  background-color: $color-static;
  border-radius: 20px;
  @media (width < 700px) {
    flex-direction: column;
  }
  @media (width < 700px) {
    padding-left: 0;
  }
}

.section-about__container-text {
  width: 100%;
  max-width: 426px;
  padding: 60px 0;
  margin-right: 60px;
  @media (width < 1050px) {
    max-width: 258px;
  }
  @media (width < 700px) {
    max-width: 324px;
    margin-right: 0;
  }

  .caption {
    color: $color-primary;
  }
  h3 {
    margin: 20px 0;
  }
}

.section-about__container-img {
  width: 100%;
  max-width: 638px;
  height: 528px;
  border-radius: 20px;
  background: url(../assets/img/santa.png) center center / cover no-repeat;
}
