@import '../abstracts/variables';
@import '../base/text';

.section-bestGifts {
  padding: $padding-main;
  background: url(../assets/img/bg-snow.png) center center / cover no-repeat;
}

.section-bestGifts__container {
  text-align: center;
  h3 {
    color: $color-static;
    margin: 12px 0 20px;
  }
}

.gifts-card__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px 12px;
}
