@import '../abstracts/variables';
@import '../base/text';

.section-cta {
  padding: $padding-main;
  background: url(../assets/img/bg-forest.png) center center / cover no-repeat;
}

.section-cta__container {
  max-width: 430px;
  margin: 0 auto;
  padding: 120px 0;
  text-align: center;
  h3 {
    color: $color-static;
    margin-bottom: 34px;
  }
  .caption {
    margin: 38px 0 6px;
  }
}
