@import '../abstracts/variables';

.section-gifts {
  padding: $padding-main;
  background: url(../assets/img/bg-garland.png) top no-repeat;
  background-size: contain;
  @media (width < 1200px) {
    padding: $padding-main-responsive-start;
  }
  @media (width < 1050px) {
    padding: $padding-main-responsive-medium;
  }
  @media (width < 769px) {
    padding: $padding-main-responsive-last;
  }
}

.section-gifts__container {
  h2 {
    max-width: 426px;
    margin: 0 auto;
    text-align: center;
    @media (width < 450px) {
      max-width: 364px;
    }
  }
}
