@import '../abstracts/variables';

.section-gifts {
  padding: $padding-main;
  background: url(../assets/img/bg-garland.png) top no-repeat;
  background-size: contain;
}

.section-gifts__container {
  h2 {
    max-width: 426px;
    margin: 0 auto;
    text-align: center;
  }
}
