@import '../abstracts/variables';

.header {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 10px 82px 12px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 141px;
  padding: 8px 20px;
  text-decoration: none;
  border-radius: 4px;
  border: 1px dashed transparent;
  transition: 0.5s ease-out;
  &:hover {
    background-color: $color-tag-green-hover;
    border: 1px dashed $color-tag-green;
  }
}

h1 {
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 0.05em;
}

.header__navigation {
  display: flex;
  width: 376px;
  justify-content: space-between;
  li {
    a {
      font-size: 12px;
      font-weight: 600;
      line-height: 130%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      padding: 12px 20px;
      text-decoration: none;
      border-radius: 4px;
      border: 1px dashed transparent;
      transition: 0.5s ease-out;
      &:hover {
        background-color: $color-tag-green-hover;
        border: 1px dashed $color-tag-green;
      }
      &:active {
        color: $color-primary;
        background-color: $color-primary-hover;
      }
      &.active {
        color: $color-primary;
        background-color: $color-primary-hover;
        border-radius: 12px;
      }
    }
  }
}
