@import '../abstracts/variables';

.section-hero {
  padding: 60px 0;
  background: url(../assets/img/bg-ball.png) center center / cover no-repeat;
}

.section-hero__text-container {
  width: 100%;
  max-width: 430px;
  margin: 0 auto;
  padding: 60px 0 61px;
  text-align: center;
}

.section-hero__text-container p:last-child {
  margin-top: 28px;
}
