.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: $color-primary;
  border-radius: 20px;
  overflow: hidden; // обрезает слайдер
  background-image: url(../assets/img/bg-snow.png);
  // картинку BG нужно будет подкорректировать
}
